/* 
    Document   : admin-global
    Created on : Apr 23, 2013, 10:36:07 PM
    Author     : kelvingani
    Description:
        Purpose of the stylesheet follows.
*/

    .ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color: #fff;
      width: 218px;
      border: 1px solid #B0BECA;
      max-height: 350px;
      overflow-x: hidden;
    }
    .ui-autocomplete .ui-menu-item {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      background-color: #D5E5F4;
      color: #161A1C;
    } 
    
.active-alphabet{
    color:white !important;
    background: #1F9BDE;
    padding: 4px 8px;
    border-radius: 4px;
}

body {
    background: url('../img/pattern/pattern.png') repeat;
    color: #333;
    font-size: 10pt;
    font-family: Verdana, 'Helvetica', Arial, sans-serif;
}

form {
    margin: 0;
}

.container {
    padding: 8px;
/*     max-width: 940px; */
    max-width:1440px;
}

.align-right {text-align: right;}

.align-left {text-align: left;}

.align-center {text-align: center;}


.modal-body {
    font-size: 10pt;
}

.message, .message1, .redFont {
    color: #d40000;
}

.photo-title {
    width: 80px;
    border: 1px solid #fff;
    height: 12px;
    font-size: 8pt;
    outline-color: #3366cc;
    margin: 2px 4px;
}

/* start of login admin page */

#admin-logo {
    margin: 12px auto;
}
#admin-logo-area{
/*    background:#01999E;*/
}


#admin-button-signin {
}

#login {
        background-color: #eee;
	text-align:center;
	width: 90%;
        max-width: 640px;
	padding: 20px 16px 12px;
	margin: 16px auto; 
	border:1px solid #CCC;
	border-radius:4px;
	-moz-border-radius:4px;
}

#login input {
    width: 96%;
}

#login input.text{
    color: #707070;
    outline:none;
    border: 1px solid #999999;
    border-radius:2px;
    -moz-border-radius:2px;
}

#login input.text:focus{  
    border: 1px solid #ff0b0b;
    color: #707070;
}

/* start of admin sidebar */

/* Large desktop */
@media (min-width: 980px) { 
    #leftNav {
        width: auto;
        position: relative;
    }
    #breadcrumb-parent {
/*         max-width: 940px; */
	max-width:1170px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #leftNav {
        width: 150px;
        position: relative;
    }
    #breadcrumb-parent {
        max-width: 740px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    #leftNav {
        width: 240px;
        box-shadow: 1px 1px 4px #999;
        border: 1px solid #CCC;
        border-radius: 2px;
        position: absolute;
    }
    #notifications, #previewBox {
        display: none;
    }
    #headerBack, .align-right {
       text-align: center;
    }
 
    #leftNav-Parent {
        min-height: 0;
    }
    
    #footer {
        text-align: center;
    }
    
    #headerBack > .container {
        padding: 4px 0 0 0;
    }
    
    .modal-label {
        text-align: left;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    #leftNav {
        width: 240px;
        box-shadow: 1px 1px 4px #999;
        border: 1px solid #CCC;
        border-radius: 2px; 
        position: absolute;
    }
    #notifications, #previewBox {
        display: none;
    }
    #headerBack, .align-right {
       text-align: center;
    }
    
    #leftNav-Parent {
        min-height: 0;
    }
    
    #footer {
        text-align: center;
    }
    
    #headerBack > .container {
        padding: 4px 0 0 0;
    }
    
    .modal-label {
        text-align: left;
    }
    
}

#leftNav {
    padding: 8px;
    background: #F6F6F6;
    z-index: 1000;
    height: 400px;
    overflow-y: auto;
}

#leftNav > div {
    margin: 8px 0;
}

.leftButton {
    padding: 4%;
    background: #fff;
    width: 92%;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

/* start of admin right content */
#rightContent {
    background: #fff;
    padding: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

/* start of admin manager - profile page */

.civMain a:link,a:visited,.civMain a{color:#333 ;text-decoration:none}
.civMain a:hover,a:active,.civMain a:hover{color:#1F9BDE;;text-decoration:none}


/* START CHANGABLE FOR NEW ADMIN SITE*/
#headerBack {
    background: url('../img/pattern/pattern.png') repeat;
/*    background-color:#01999e;*/
    color: #fff;
    border-bottom: 4px solid #1F9BDE;
    margin: 0 auto;
    min-height: 60px;
    padding: 4px 0;
    width: 100%;
}
#admin-login {
    margin: 100px auto;
    text-align: center;
}
#bg-admin {background: url("../img/pattern/pattern.png");}
#headerBack #logout{font-weight:700;margin:8px;padding:4px;color:#000;}
#headerBack #logout > a{color:#000;text-decoration:none}
#headerBack #logout > a:hover{border-radius:2px;-moz-border-radius:2px;color:#1F9BDE;text-decoration:none}
#headerBack #logout > a:active{color:#1F9BDE;text-decoration:none}

#previewBox a{border:2px solid #333;color:#333;padding:4px 8px;text-decoration:none; border-radius:2px;-moz-border-radius:2px;}
#previewBox a:hover{background-color:#fff; color:#1F9BDE;}

.civMain{ background:#F6F6F6; color:#333;}

#footer {
    font-size: 8pt;
}
#footer > a, #footer > a:visited {
    color: #1F9BDE;
}
#footer > a:hover, #footer > a:active {
    color: #000;
    text-decoration:none;
}

#breadcrumb-parent {
    background: #f6f6f6;
    padding: 8px 0;
    z-index: 10;
}
/* END CHANGABLE FOR NEW ADMIN SITE*/

#menu-title {
    font-size: 14pt; font-weight: bold;
}

#menuDashboard {
    min-height: 320px;
}

#saveButton {
    background-color: #eee;
    padding: 8px;
    border-radius: 2px;}


/* admin homepage */

.proPhoto > img {
    width: 50px;
}

/* admin customer table*/
.table td ,.table th{
    font-size:0.9em;
}

.navigation-list {
    margin: 0;
    background-color: #939598;
    padding: 0 100px;
    text-align: center;
}
.navigation-list > li {
    display: inline-block;
}
.top-nav{
    color: #fff !important;
    padding: 10px 25px;
    display: block;
}
.active-nav{
    background-color: #1F9BDE !important;
}
.top-nav:hover,.top-nav:focus,.top-nav:active{
    background-color: #1F9BDE !important;
}
.dropdown-nav {
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    text-align: left;
}
.dropdown-nav > li > a { 
    padding: 6px 20px !important;
}
.caret-white {
    border-top: 4px solid #fff;
}
.image-sec {
    text-align: center;
    position: relative;
}

.image-sec > a > img {
    width: 100%;
    height: 250px;
}

.col-image {
    margin: 0 auto 20px 0!important;
    padding: 0 15px;
    width: 25% !important;
}

.image-user-part > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.image-user-part {
    display: table-cell;
    vertical-align: top;
}

.image-user-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.image-user-name > .name {
    font-size: 14px;
}
.image-title {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 600;
    min-height: 40px;
}
.image-time {
    text-align: right;
}

.image-viewer {
    font-size: 13px;
}

.image-unpublish {
    background-color: red;
}

.pop-icon {
    position: absolute;
    top: 10px;
}
.pop-icon > img {
    width: 46px;
    height: 30px;
}

.dropdown-image {
    position: absolute !important;
    top: 0;
    right: 0;
}
.btn-image {
    padding: 5px;
    background-color: #E8E8E8;
    border-bottom-left-radius: 5px;
}
.btn-image:hover{
    opacity: 0.8;
}
.menu-image {
    left: inherit !important;
    right: 0px;
    padding: 0 !important;
    text-align: right;
    min-width: auto !important;
}