body{
    font-family: 'ProximaNova',"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    color:#613c1b;margin:0;padding:0;}
body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          z-index: 100;
}
img{border:0}



.icon{-moz-border-radius:8px;border-radius:8px;height:100px;text-decoration:none;width:100px}
.icon img{height:100px;width:100px}
.civMain #container{font-size:1em;margin:8px auto 16px;text-align:left;width:960px}
.civMain #container #menuDashboard{border-top:1px solid #CCC;clear:both;margin:4px auto;width:960px;z-index:2}
.civMain #container #leftNav{background-color:#f0ebe1;float:left;padding:16px 0 24px 24px;position:absolute;width:200px}
.civMain #container #leftNav a:hover,a:active{color:#ff2600;text-decoration:none}
.civMain #container #leftNav .leftButton{-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:0;-moz-border-radius-topleft:4px;-moz-border-radius-topright:0;-webkit-border-radius:4px 0 0 4px;background-color:#FFF;border-radius:4px 0 0 4px;border-right:4px solid #FFF;color:#613c1b ;padding:12px 0 12px 12px;width:190px;z-index:4}
.civMain #container #rightContent{border-left:1px solid #CCC;display:inline;float:left;margin:0 0 0 224px;min-height:454px;padding:12px 32px 8px;width:484px}
.civMain #container #rightContent .submit{-moz-border-radius:2px;background:#ff2600;border:1px solid #999;border-radius:2px;color:#FFF;cursor:pointer;display:inline;font-size:1em;font-weight:700;height:32px;outline:none}
.civMain #container #rightContent .submit:hover{-moz-border-radius:2px;background:#cc9800;border:1px solid #999;border-radius:2px;color:#FFF}
.civMain #container #rightContent input.text{-moz-border-radius:2px;border:1px solid #ccc;border-radius:2px;font-size:.8em;height:28px;outline:none;padding-left:4px;padding-right:2px; color: #666;}
.civMain #container #rightContent .select{-moz-border-radius:2px;border:1px solid #ccc;border-radius:2px;font-size:.8em;height:32px;outline:none;padding:4px}
.civMain #container #rightContent .file{-moz-border-radius:2px;border:1px solid #ccc;border-radius:2px;font-size:.8em;height:24px;outline:none;padding:4px}
.civMain #container #rightContent .textarea{-moz-border-radius:2px;border:1px solid #ccc;border-radius:2px;font-size:.8em;height:72px;margin:4px 0;outline:none;padding:8px;width:95%}
.civMain #container #footer{font-size:.8em;font-weight:400;padding:4px;text-align:left;}
.fltrt{float:right;margin-left:8px}
.fltlft{float:left;margin-right:8px}
.clearfloat{clear:both;font-size:.2em;height:0;line-height:0}
#search-box{-moz-border-radius:4px;background-color:#FFF;border:2px solid #4E5F69;border-radius:4px;display:inline-block;height:26px;padding:4px;width:320px}
#search{border:0;color:#999;display:block;float:left;height:26px;outline:none;padding:0;width:290px}
#magnifier{background:url('/img/magnifier.png');cursor:pointer;float:left;height:24px;margin-top:1px;width:24px}
.imgCat{-moz-border-radius:2px;-moz-box-shadow:0 0 2px #999;-webkit-box-shadow:0 0 2px #999;border:3pt solid #fff;border-radius:2px;box-shadow:0 0 2px #999;cursor:pointer;height:100px;margin:4px;overflow:hidden;vertical-align:middle;width:100px;}
.docCategory .imgCat{-moz-border-radius:2px;border:3pt solid #fff;border-radius:2px;cursor:pointer;height:100px;margin:4px;overflow:hidden;vertical-align:middle;width:100px}
.choice{background-color:#f6f6f6;border:2px solid #0071bc;border-radius:4px;font-size:1.4em;margin:12px 0 8px;padding:8px;text-align:center;width:280px}
.labelIcon{color:#666;font-size:1.2em;font-weight:700;margin-left:-100px;margin-top:66px;position:absolute;text-align:center;width:100px;z-index:1000}
.labelSize{color:#666;font-size:.8em;position:absolute;text-align:center;width:100px;z-index:1000}
.copyTitle{font-size:.8em}
#videoInstruction{background-color:#f8f8f8;border:1px dashed #999;font-size:.8em;margin:4px;padding:8px}
#videoInstruction h3{font-style:italic}
#videoInstructionText{background-color:#ffff3d}
.profilePhoto{border:1px solid #999;border-radius:2px;height:80px;margin:16px;padding:4px;width:80px}
#leftNav img{height:22px;margin-bottom:-3px;margin-right:10px;width:22px}
#leftNav div{margin-bottom:4px}


.civMain #mainDashboard table,.civMain #mainDashboard tr,td{margin:8px auto;padding:8px}
.civMain #container #breadcrumb,#notifications,#previewBox{font-size:1em}
.message,.civMain #container #rightContent .delete a{color:#ff2600;}
.civMain #container #leftNav a,.civMain #container #leftNav a:link, a:visited{color:#613c1b; text-decoration:none}
.civMain #container #leftNav a:hover{color:#E13300;text-decoration:none}
.civMain #container #leftNav .leftButton a,.civMain #container #leftNav .leftButton a:link{color:#613c1b; font-size:1.4em; text-decoration:none;}
.civMain #container #rightContent input.text:focus,.civMain #container #rightContent .select:focus,.civMain #container #rightContent .file:focus,.civMain #container #rightContent .textarea:focus{border:1px solid #cc9800; color:#666;}
.photoAlbum,.docCategory{margin-left:24px}
.photoAlbum img,.docCategory img{max-height:100px;max-width:150px}

#adDiv {display: inline;float: left;margin-left: 22px;height: 474px;}
#SubStatus{color:#E13300;}
.homepageAdminImg {max-width: 110px; max-height: 64px}

.portfolioAdminImg {padding:4px; border: 1px solid #999; border-radius: 4px; margin: 4px;}
.editLink {float: right;}
.scrollBox {width: 400px; height: 100px; overflow: scroll; border: 1px solid #CCC;}
.logo-thmb {height: 60px; width: 60px; border: 1px solid #CCC; border-radius: 4px;}