html{
  height: 100%;
}
body{
  min-height: 100%;
  background: url(../img/groovepaper.png);
  background-color: #f0f0f0;
  background-repeat: repeat;
  font-family: 'Proxima Nova','Helvetica Neue','Segoe UI','trebuchet ms',arial;
}
#all{
  position: relative;
}
a,a:visited,a:active{
  color:#4E5F69;
  text-decoration:none;
}
a:hover{
  color:#4E5F69;
  text-decoration:underline;
}
.paper-cv{
  background-color: #fff;
  padding: 30px 15px 40px 15px;
  box-shadow: 1px 1px 4px 0px #999;
  margin: 0 0 50px 0;
  border-radius: 2px;
}
@media(max-width: 992px){
  .container-resume{
    width: 95% !important;
  }
}
@media(max-width: 768px){
  body{
    background: transparent !important;
    background-color: #FFFFFF !important;
  }
  .paper-cv {
    margin: 0!important;
    padding: 30px 15px 20px 15px;
  }
  .container-resume{
    width: auto !important;
  }
}
.top-nav_link {
  margin: 0;
  padding: 0;
}
.top-nav_link > li {
  display: inline-block;
  margin: 0 10px;
}
.top-nav_social {
  margin: 0;
  text-align: right;
  padding: 0;
}
.top-nav_social > li {
  display: inline-block;
  margin: 0 10px;
}
#desktop-nav {
  padding: 15px 0;
}
.top-nav_link > li > a {
  border: 2px solid #fcfcfc;    
  color: #999;    
  padding: 8px 16px;    
  text-decoration: none;
  display: block;
}
.top-nav_link > li > a.active {
  border:2px solid #a9a9a9;
  border-radius:2px;
  color:#4E5F69;
  padding:8px 16px;
}
.top-nav_link > li > a:hover,.top-nav_link > li > a:focus,.top-nav_link > li > a:active {
  border:2px solid #e9e9e9;
  border-radius:2px;
  color:#36c;
}
.top-nav_social > li > a {
  border: 2px solid #fcfcfc;    
  color: #999;    
  padding: 4px 8px;    
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}
.top-nav_social > li > a.active {
  border:2px solid #a9a9a9;
  border-radius:2px;
  color:#4E5F69;
}
.top-nav_social > li > a:hover,.top-nav_social > li > a:focus,.top-nav_social > li > a:active {
  border:2px solid #e9e9e9;
  border-radius:2px;
  color:#36c;
}
.navbar-toggle {
  float: left !important;
  margin: 10px 0 0 0 !important;
}
.mobile-logo {
  text-align: center;
  display: block;
}
.mobile-logo > img {
  width: 50px;
  margin: 5px 0;
}
.pdf-link{
  color: #7d6a6c;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.pdf-link:hover,.pdf-link:focus,.pdf-link:active{
  color: #7d6a6c;
}
.paper-pad {
  padding: 0 60px;
  margin: 20px 0 0 0;
}
.resume-photo {
  display: block;   
}
.resume-photo > img {
  width: 100%;
  max-width: 120px;
  max-height: 200px;
  border: 1px solid #ddd;
  /*border-radius: 50%;*/
}
@media(max-width: 768px){
  .resume-photo {
    text-align: center !important;   
  }
  .paper-pad {
    padding: 0 !important;
    margin: 50px 0 0 0 !important;
  }
  .entry-mdetail{
    /*line-height: 1.8;*/
    font-size: 12px;
    margin: 6px 0 0 0;
  }
}
.resume-name {    
  position: relative;
}
.resume-name > h1 { 
  color: #666;    
  font-size: 30px;
  display: inline-block;
  font-weight: lighter;
}
.current-interest {
  color: #CA0606;    
  float: left;    
  font-style: italic;    
  font-weight: 700;    
  font-size: 14px;
  margin-left: 8px;    
  position: absolute;
}
.resume-current-job {
  font-size: 22px;          
  margin: 5px 0 0 0;
  color: #4E5F69;
  font-weight: bold;
}
@media(max-width: 992px){
  .resume-name > h1 { 
    font-size: 25px !important;
  }
  .current-interest {
    float: none;
    font-size: 12px !important;
    margin-left: 0 !important;
    position: relative;
    display: block ;
  }
  .resume-current-job {
    font-size: 18px !important;
    font-weight: bold;
  }
}
.resume-contact{
  margin: 10px 0 0 0;
  padding: 0;
}
.resume-contact > li {
  background-position: 0 .1em;
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  margin-top: -2px;
  /*padding-left: 26px;*/
}
.resume-contact > .address{
  /*background-image: url(../img/icon/icn-ad.gif);*/
}
.resume-contact > .mail{
  background-image: url(../img/icon/icn-mail.gif);
}
.resume-contact > .phone{
  background-image: url(../img/icon/icn-tel.gif);
}
.resume-contact > .web{
  /*background-image: url(../img/icon/icn-web.gif);*/
}
.entry-head {    
  color: #4E5F69;    
  font-size: 25px;        
  text-align: right;    
}
@media(max-width: 992px){
  .entry-head {    
    font-size: 20px !important;       
  }
}
@media(max-width: 768px){
  .entry-head {    
    text-align: left !important;       
  }
  .pad0-xs {
    padding: 0 !important;
  }
}
.objective-desc {
  font-size: 14px;
}
.top-space{
  margin: 30px 0 0 0;
}
.entry-child{
  color: #7d6a6c;
  font-size: 13px;
  text-align: right;
}
@media(max-width: 768px){
  .entry-child{
    text-align: left !important;
    margin: 0 0 5px 0 !important;
  }
}
.entry-detail{
  font-size: 14px;
  margin: 0;
}
em {
  color: #666;
  display: block;
  font-family: 'Open Sans','Proxima Nova','Helvetica Neue','Segoe UI','trebuchet ms',sans-serif;
  font-size: 12px;
}
.experience-info{
  font-size: 12px;
  text-decoration: none;
  display: block;
}
.skills-info{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.skills-info > li{
  background-image: url(../img/icon/bullet.gif);
  background-position: 0 .5em;
  background-repeat: no-repeat;
  float: left;
  margin: 0 0 6px;
  padding: 0 5px 0 10px;
  width: 30%;
}
@media(max-width: 992px){
  .skills-info > li{
    width: 50% !important;
  }
}
.work-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.work-info > li {
  background-image: url(../img/icon/bullet.gif);
  background-position: 0 .5em;
  background-repeat: no-repeat;
  float: left;
  margin: 0 0 6px;
  padding: 0 10px 0 10px;
  width: 50%;
}
.work-info > li > a{
  color: #36c;
  font-style: italic;
}
.work-info-img {
  list-style-type: none;
}
.work-info-img > li {
  margin: 0;
  padding: 0;
}
.work-info-img > li > a > img {
  background-color: #fff;
  border: 1px solid #4E5F69;
  height: 95px;
  margin-bottom: 16px;
  margin-right: 20px;
  padding: 4px;
  width: 95px;
}
.work-info-img {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 2px;
}
.work-info-img > img {
  width: 100%;
}
.footer-logo {
  text-align: center;
  margin: 30px 0;
}
.footer-logo > img {
  width: 70px;
}
@media(max-width: 768px){
  .footer-logo {
    margin: 20px 0;
  }
  .footer-logo > img {
    width: 60px;
  }
}
.entry-mhead {
  color: #4E5F69 !important;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 5px 12px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.entry-mhead:hover,.entry-mhead:focus,.entry-mhead:active{
  text-decoration: none;
}
.mcollapse{
  text-decoration: none;
}
.mcollapse:hover,.mcollapse:focus,.mcollapse:active{
  text-decoration: none;
}
.skill-panel {
  padding: 10px 12px;
  border-bottom: solid 1px #eee;
}
.skill-name {
  font-size: 13px;
  color: #333;
}
.skill-score {
  float: right;
  padding: 5px;
}
.see-skill {
  padding: 10px 12px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #939598;
}
.see-skill:hover,.see-skill:focus,.see-skill:active {
  text-decoration: none;
}
.panel-link:hover,.panel-link:focus,.panel-link:active{
  text-decoration: none;
}
.panel-link:hover > .entry-mdate,.panel-link:focus > .entry-mdate,.panel-link:active > .entry-mdate{
  text-decoration: none;
}
.panel-link:hover > .entry-mplace,.panel-link:focus > .entry-mplace,.panel-link:active > .entry-mplace{
  text-decoration: none;
}
.panel-inside {
  padding: 10px 12px;
  border-bottom: solid 1px #eee;
}
.entry-mdate {
  color: #7d6a6c;    
  font-size: 13px;
}
.entry-mplace {
  color: #333333;    
  font-size: 14px;
}
.entry-mjobs{
  color: #666;    
  font-size: 13px;
  font-weight: bold;
}
.drop-panel {
  float: right;
  font-size: 18px;
}
.portfolio-category {
  margin: 20px 0 0 0;
}
.portfolio-category > ul {
  margin: 0;
  padding: 0;
}
.portfolio-category > ul > li {
  display: inline-block;
  margin: 0 16px 0 0;
}
.portfolioCat-link {
  font-size: 16px;
  display: block;
  text-decoration: none;
  padding: 5px 12px;
  border: solid 2px transparent;
  margin-right: 2px;
  color: #4E5F69;
  font-weight: bold;
}
.portfolioCat-active{
  text-decoration: none !important;
  color: #4E5F69 !important;
  border-bottom: solid 2px #4E5F69 !important;
}
.portfolioCat-link:hover,.portfolioCat-link:focus,.portfolioCat-link:active{
  text-decoration: none;
  color: #4E5F69;
  border-bottom: solid 2px #4E5F69;
}
.portfolioCat-link > i {
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.portfolio-folder {
  margin: 20px 0 0 0;
}
.portfolio-folder > ul {
  margin: 0;
  padding: 0;
}
.portfolio-folder > ul > li {
  display: inline-block;
  margin-top: 4px;
}
.portfolioFolder-link {
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 6px 12px;
  border: solid 1px transparent;
  margin: 0 4px;
  color: #4E5F69;
}
.portfolioFolder-active{
  text-decoration: none !important;
  color: #4E5F69 !important;
  background-color: #eee;
  border: solid 1px #eee;
}
.portfolioFolder-link:hover,.portfolioFolder-link:focus,.portfolioFolder-link:active{
  text-decoration: none;
  color: #4E5F69;
  border: solid 1px #eee;
}
.portfolio-image {
  text-align: center;
}
.portfolio-image > img {
  width: 100%;    
}
.portfolio-url {
  text-decoration: none !important;
  margin: 0px 0 0 0;
  display: block;
}
.portfolio-title {
  font-size: 14px;
  color: #444;
  margin: 3px 0;
  /*min-height: 20px;*/
}
.portfolio-date {
  text-align: right;
  display: inline-block;
  width: 50%;
  font-size: 13px;
}
.portfolio-viewer {
  display: inline-block;
  width: 47%;
  font-size: 13px;
}
.portfolio-viewer > i {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.portfolio-list {
  padding: 20px 0 0;
}
@media(max-width: 768px){
  .paper-cv-portfolio{
    padding: 7px 0 20px 0 !important;
  }
  .resume-name-portfolio{
    margin: 10px 0 0 0 !important;
  }
  .col-portfolio{
    padding: 0 !important;
  }
  .portfolio-url {
    margin: 0 !important;
  }
  .portfolio-image > img {
    border: solid 1px transparent;
  }
  .portfolio-category {
    overflow-x: auto;
  }
  .portfolio-category > ul {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    white-space: nowrap;
  }
  .portfolio-folder {
    margin: 10px 0 0 0;
    overflow-x: auto;
  }
  .portfolio-folder > ul {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    white-space: nowrap;
  }
}
.mobile-portfolio-link {
  color: #676767 !important;
  font-size: 13px;
  padding: 5px;
  display: block;
  text-decoration: none;
}
.mobile-portfolio-link:hover,.mobile-portfolio-link:focus,.mobile-portfolio-link:active{
  color: #337ab7 !important; 
  font-weight: bold;
  text-decoration: none;
}
.portfolio-link-active{
  color: #23527c !important;
  font-weight: bold;
  text-decoration: none;
}
.mobile-nav-portfolio {
  border-bottom: solid 1px #ccc;
}
.border-right-ccc {
  border-right: solid 1px #ccc;
}
.portfolio-url-doc {
  color: #36C !important;
  font-size: 14px;
  font-weight: bold;
}
.document-desc {
  text-align: justify;
  margin: 2px 0 0 0;
  font-size: 12px;
}
.document-read {
  text-align: center;
  margin: 5px 0 30px 0;
}
.document-read > a {
  color: #ccc;
  font-size: 13px;
}
@media(max-width: 500px){
  .col-portfolio-doc{
    width: 100% !important; 
  }
}

.pad4px {
  padding: 4px !important;
}

@media(min-width: 960px){
  .portfolio-image {
    width: 206px;
    height: 206px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
}
.portfolio-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  height: 206px;
  background-color: rgba(255,255,255,0.6);
}
.portfolio-image-content {
  top: 45%;
  position: absolute;
  margin: 0 auto;
  width: 206px;
  color: #333;
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.no-portfolio {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #4E5F69;
  margin: 20px 0;
}
.mc-image > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.mc-image {
  display: table-cell;
}
.mc-title {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.mc-name {
  font-weight: 600;
  color: #666;
  font-size: 15px;
}
.mc-job {
  color: #808080;
  font-size: 13px;
}
.mc-job > span {
  color: #46AADA;
}
.mc-header {
  text-align: center;
  padding: 5px 15px;
  background-color: #5BC0DE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mc-header > h4 {
  color: #fff;
}
.mc-col{
  padding: 0 5px !important;
}
.popup {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: 30px;
  border-radius: 5px;
  padding: 20px 15px;
  top: 50px;
  width: 250px;
  z-index: 1050;
  display: none;
  max-width: 100%;
}
.popup-text {
  color: #ffffff;
  font-size: 13px;
}
.popup-close {
  position: absolute;
  top: -11px;
  right: -11px;
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.7);
  padding: 3px 5px 2px 5px;
  border: solid 1px #343434;
  border-radius: 50%;
  font-size: 12px;
}
.badge-new{
    position: absolute;
    background-color: red;
    right: -17px;
    top: -7px;
    padding: 3px 6px;
    font-size: 10px;
}
.disabled{
  pointer-events: none !important;
  cursor: not-allowed !important;
  filter: alpha(opacity=65);
}
.tour-step-background{
  border-radius: 0 !important;
}
.badge-new-mobile {
    position: relative;
    background-color: red;
    top: -1px;
    margin-left: 10px;
    padding: 3px 6px;
    font-size: 10px;
}
#validate-cf{
    padding: 6px 8px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-style: italic;
    display: none;
    font-weight: bold;
    margin: 10px 5px 0 5px;
    background-color: rgba(212, 40, 48, 0.7);
}
.back-top {
    position: fixed;
    bottom: 8%;
    display: none;
    right: 20px;
    background-color: #6CC0ED;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    outline: none !important;
}
.back-top:hover,.back-top:focus,.back-top:active{
  background-color: #03A1E4 !important;
}
.back-top > img {
    position: relative;
    top: -2px;
    left: 1px;
}
/*LOGIN MODAL CSS*/
@media(min-width: 768px){
  .mlogin-size {
    width: 700px;
  }
}
.mlogin-header {
  font-size: 20px;    
  color: #03A1E4;   
  font-weight: bold;
}
.mlogin-rheader {
  font-size: 16px;    
  display: block;
  color: #03A1E4;    
  font-weight: bold;
  text-align: right;
}
.mlogin-check {
  font-size: 13px;
  display: inline;
}
.forget-pass {
  color: #337ab7;
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
}
.mlogin-body {
  padding: 20px 15px;
}
.btn-facebook {
  background-color: #414F97;
  border-color: #414F97;
  padding: 6px 12px;
  font-weight: bold;
  margin: 15px 0 0 0 !important;
  font-size: 14px;
}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active{
  background-color: #3D4A8E;
  border-color: #3D4A8E;
}
.btn-facebook > img {
  width: 20px;
  margin: 0 10px 0 0;
}
.btn-google {
  background-color: #d73d32;    
  border-color: #d73d32;    
  padding: 6px 12px;    
  font-weight: bold;    
  margin: 10px 0 0 0 !important;
  font-size: 14px;
}
.btn-google:hover,.btn-google:focus,.btn-google:active{
  background-color: #CD3A30;
  border-color: #CD3A30;
}
.btn-google > img {
  width: 20px;    
  margin: 0 10px 0 0;
}
.btn-twitter > img {
  width: 20px;    
  margin: 0 10px 0 0;
}
.btn-twitter {
  background-color: #55acee;    
  border-color: #55acee;    
  padding: 6px 12px;    
  font-weight: bold;    
  font-size: 14px;
  margin: 10px 0 0 0 !important;
}
.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active{
  background-color: #4C9DDA;
  border-color: #4C9DDA;
}
@media(min-width: 768px){
  .col-modal-left{
    width: 45% !important;
  }
  .col-modal-right{
    width: 45% !important;
  }
  .col-modal-center{
    width: 10% !important;
    text-align: center;
  }
  .col-modal-center > img {
    height: 100%;
  }
}
@media(max-width: 768px){
  .col-modal-left{
    margin: 20px 0 0 0;
  }
  .col-modal-right{
    margin: 30px 0 0 0;
    border-top: solid 1px #ddd;
  }
}
.mlogin-register{
  margin: 25px 0 0 0;
  color: #25366A;
  font-size: 13px;
  text-align: right;
}
/*END LOGIN MODAL CSS*/
/*PORTFOLIO CARD CSS*/
.mp-name > img {
  width: 40px;
  height: 40px;
}
.mp-name > span {
  font-size: 25px;
  font-weight: bold;
  color: #444;
  position: relative;
  top: 16px;
  font-family: sans-serif !important;
  margin-left: 5px;
}
.mp-job {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif !important;
  color: #4E5F69;
}
.mp-place {
  font-size: 14px;
  margin: 5px 0 10px 0;
  font-family: sans-serif !important;
}
.mp-image {
  text-align: center;
}
.mp-image > img {
  max-width: 100%;
  width: 100%;
}
.mp-content {
  padding: 10px 15px;
}
.mp-title {
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 16px;
  padding: 0 15px;
  color: #444;
  display: none;
  font-family: sans-serif !important;
}
.mp-tag{
  padding: 0 15px;
  margin: 10px 0 0 0;
}
.mp-tag > ul {
  margin: 0;
  padding: 0;
}
.mp-tag > ul > li {
  display: block;
  float: left;
  padding: 2px 12px;
  margin: 0 10px 10px 0;
  background-color: #0199D9;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif !important;
  letter-spacing: 1px;
  cursor: default;
}
.mp-close > img {
    width: 20px;
}
.mp-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dddddd;
  padding: 0px 2px 2px 2px;
}
@media(max-width: 768px){
  .mp-name > img {
    width: 25px;
    height: 25px;
  }
  .mp-name > span {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    position: relative;
    top: 8px;
    margin-left: 5px;
  }
  .mp-job {
    font-size: 14px;
  }
  .mp-title{
    font-size: 14px;
  }
}
.photo-func > ul {
  margin: 0;
  padding: 0;
}
.photo-func > ul > li {
  display: inline-block;
  margin-right: 10px;
}
.photo-like {
  text-decoration: none !important;
  font-family: sans-serif !important;
  font-size: 14px;
  color: #666666;
  outline: none !important;
  font-weight: bold;
}
.photo-like > img {
  width: 20px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.photo-func {
  margin: 15px 0 0 0;
  padding: 0 15px;
}
.photo-func > ul > li > span {
  font-family: sans-serif !important;
  text-decoration: none !important;
  font-size: 14px;
  color: #666666;
  outline: none !important;
  font-weight: bold;
}
.photo-func > ul > li > span > img {
  width: 20px;
  height: 17px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.card-not-login {
  padding: 0 15px;
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: #666666;
}
.card-not-login > a {
  text-decoration: none !important;
  outline: none !important;
}
@media(max-width: 768px){
  #modal-card{
    padding: 0 10px !important;
  }
}
.card-load-img > img {
  width: 80px;
}
.card-load-img {
  text-align: center;
}
.card-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.card-load-bg {
  position: relative;
  top: 40%;
}
/*END PORTFOLIO CARD CSS*/

/*START RESUME TOP NAV*/
#index-top-nav {
  padding: 10px 42px;
  background-color: #fff;
  border-bottom: solid 2px #ccc;
  font-family: "Droid Sans", Open sans, "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
}
@media(max-width: 900px){
  #index-top-nav {
    padding: 10px;
  } 
}
.nav-logo {
  display: inline-block;
  text-decoration: none;
}
.nav-logo > img {
  width: 180px;
}
.desktop-nav {
  float: right;
  display: inline-block;
  margin: 13px 0 0 0;
}
.desktop-nav > ul {
  margin: 0;
  padding: 0;
}
.nav-link {
  display: inline-block;
  color: #03A1E4;    
  font-size: 14px;    
  font-weight: 600;
  margin: 0 10px;
}
.nav-link > img {
  width: 20px;
  top: -3px;
  margin: 0 10px 0 0;
  position: relative;
}
.nav-link > a {
  color: #03A1E4;
  font-size: 14px;
  font-weight: 600;
}
.nav-link > a:hover,.nav-link > a:focus,.nav-link > a:active {
  color: #606060;
  text-decoration: none;
}
.nav-link-job > a {
  color: #03A1E4;    
  font-size: 14px;    
  font-weight: 600;
  border: solid 2px #03A1E4;
  padding: 6px 10px;
}
.nav-link-job > a:hover,.nav-link-job > a:focus,.nav-link-job > a:active {
  color: #606060;
  border: solid 2px #606060;
  text-decoration: none;
}
.nav-link-job {
  display: inline-block;
  margin: 0 10px;
}
.btn-nav-mobile > a {
  font-size: 22px;
  color: #8B8B8B;
  margin: 5px 0 0 0;
}
.btn-nav-mobile > a:hover, .btn-nav-mobile > a:focus{
  color: #606060;
}
.mobile-layer{
  width: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.21);
}
.fixed-nav-mobile {
  display: none;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 250px;
  height: 100%;
  z-index: 600;
  overflow: auto;
  background-color: #666;
}
.fixed-nav-mobile > ul {
  padding: 0;
  margin: 0;
}
.fixed-nav-mobile > ul > li{
  display: block;
  border-bottom: solid 1px #dddddd;
}
.fixed-nav-mobile > ul > li > a {
  color: #FFFFFF;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}
.fixed-nav-mobile > ul > li > a:hover, .fixed-nav-mobile > ul > li > a:focus {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
@media(min-width: 768px){
  .fixed-nav-mobile{
    display: none !important;
  }
  .mobile-layer{
    display: none !important;
  }
}
#nav-logo-mobile > img {
  width: 50px;
  margin: 6px 12px;
}
#mobile-top-nav {
  background-color: #FFFFFF;
  border-bottom: solid 1px #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
}
.dropdown-usernav {
  padding: 0;
}
.caret-user {
  position: absolute;
  left: 45%;
  border-bottom: 12px dashed;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  top: -12px;
  margin-left: 2px;
  vertical-align: middle;
  color: #03A1E4;
}
.caret-hover{
  color: #03A1E4 !important;
}
#dropdown-user {
  top: 190% !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #f4f4f4;
  left: -50px !important;
}
.dropdown-usernav > li > a {
  padding: 6px 20px;
  color: #808080;
  border-bottom: solid 1px #ddd;
  font-size: 14px;
}
.dropdown-usernav > li > a:hover,.dropdown-usernav > li > a:focus,.dropdown-usernav > li > a:active {
  color: #04A1E4;
  text-decoration: none;
  background-color: #CBF0FF;
}
.dropdown-head > span {
    padding: 6px 20px;
    color: #FFFFFF;
    background-color: #03A1E4;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    display: block;
    font-weight: bold;
}
.dropdown-bottom > a {
    background-color: #03A1E4;
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.flag-img {
  width: 25px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
.badge-red {
    background-color: red !important;
    font-style: italic;
}
.dropdown-sidebar {
    margin: 0;
    padding: 0;
    display: none;
}
.dropdown-sidebar > li {
    display: block;
}
.dropdown-sidebar > li > a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    border-bottom: solid 1px #ddd;
}
.caret-sidebar {
  float: right;
  position: relative;
  top: 6px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.caret-sidebar-up {
  border-top: none !important;
  border-bottom: 10px dashed;
}
.sideUser-pic {
  width: 25px;
  border-radius: 50px;
  margin-right: 8px;
}
.sideUser-name {
  position: relative;
  top: 1px;
}
.toggle-mobile{
  float: left;
  margin: 10px 5px;
}
.toggle-mobile > .icon-bar{
  background-color: rgb(139, 139, 139) !important;
  width: 25px !important;
  margin: 0 0 5px 0 !important;
}
.toggle-mobile:hover > .icon-bar,.toggle-mobile:focus > .icon-bar,.toggle-mobile:active > .icon-bar{
  background-color: #606060 !important;
}
.mp-share {
  text-align: right;
  float: right;
}
.mp-share > a {
  margin: 0 0 0 5px;
}
.mp-share > a > img {
  width: 20px;
}
/*END RESUME TOP NAV*/