.tpaper-side {
    width: 300px;
    display: block;
    float: left;
    background-color: #5e686c;
    vertical-align: top;
}
.tpaper-image {
    text-align: center;
}
.tpaper-image > img {
    max-width: 150px;
    border-radius: 100px;
}
.tpaper-side-top {
    padding: 30px 20px;
    background-color: #434A58;
}
.tpaper-sidewrap {
    background-color: #5e686c;
}
.tpaper-name {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
.tpaper-jobs {
    text-align: center;
    margin-top: 5px;
    color: #FFF;
}
.tpaper-side-bottom {
    padding: 0 30px 30px 30px;
}
.tabout-head {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0 5px 0;
}
.tabout-desc {
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px 0 0 0;
}
.template-paper {
    background-color: #5E686C;
    box-shadow: 1px 1px 4px 0px #999;
    margin: 0 auto 50px auto;
    width: 1000px;
}
@media(max-width: 767px){
    .template-paper {
        margin: 80px auto 50px auto;
    }
}
.tabout-head > img {
    width: 30px;
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.tcontact-desc > ul {
    margin: 0;
    padding: 0px 0 0 18px;
}
.tcontact-desc > ul > li {
    color: #FFF;
    margin: 10px 0 0 0;
}
.email-text {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.tpaper-content {
    display: block;
    width: 700px;
    float: left;
    padding: 0 30px 30px 30px;
    background-color: #FFFFFF;
}
.tcontent-head {
    font-size: 20px;
    font-weight: bold;
    color: #434A58;
    font-family: serif;
    position: relative;
    padding-left: 15px;
}
.tcontent-head > img {
    width: 35px;
    position: absolute;
    left: -35px;
    top: -4px;
}
.content-wrap {
    position: relative;
    padding-left: 50px;
    margin-top: 20px;
}
.twork-title {
    color: #434A58;
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
    margin: 15px 0 5px 0;
}
.twork-company {
    color: #808080;
    font-size: 13px;
    margin-right: 10px;
}
.twork-year {
    color: #808080;
    font-size: 13px;
}
.twork-company > i {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.twork-year > i {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.twork-desc {
    margin: 3px 0 0 0;
    font-size: 13px;
    color: #444;
}
.tlang-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin: 10px 0 0 0;
}
.tlang-star {
    text-align: center;
    color: #434A58;
}
.tlang-flag {
    text-align: center;
}
.tlang-flag > img {
    max-width: 100%;
    width: 160px;
}
.tlang-wrap {
    margin: 20px 0 0 0;
}
.tportfolio-wrap {
    margin: 20px 0 0 0;
    min-height: 280px;
}
.tportfolio-img {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px #ddd;
    display: block;
    outline: none !important;
}
.tportfolio-img2 {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px #ddd;
    display: block;
    outline: none !important;
}
.tportfolio-title {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    margin: 5px 0 0 0;
}
.progress-barskill {
    background-color: #434A58;
    font-size: 10px;
    line-height: normal;
}
.progress-skill {
    height: 15px;
    margin: 5px 0 0 0 !important;
}