<div class="section-padd " >
  <div class="container-body clearfix">
    <!-- project title -->
    <h2 class="title"><span>Project Title</span></h2>
    <div class="white-space-10"></div>


    <!-- project preview -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://yobithemes.com/demo/html/itsme/works/assets/theme/img/portfolio/b1.jpg" alt="" class="img-full">
          <div class="carousel-caption">
            Some Caption Here 01
          </div>
        </div>
        <div class="item">
          <img src="http://yobithemes.com/demo/html/itsme/works/assets/theme/img/portfolio/b2.jpg" alt="" class="img-full">
          <div class="carousel-caption">
            Some Caption Here 02
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="work-galery.html#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="work-galery.html#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="white-space-30"></div>

    
    <!-- project descriptions -->
    <ul id="myTabs" class="nav nav-tabs flat-nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="work-galery.html#tab1" id="tab-1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Project Descriptoin</a></li>
      <li role="presentation"><a href="work-galery.html#tab2" role="tab" id="tab-2" data-toggle="tab" aria-controls="profile">Requirement</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledBy="home-tab">
        <div class="flat-tab-content">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledBy="profile-tab">
        <div class="flat-tab-content">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
      </div>
    </div>

    <hr/>
    
    
    <!-- feedback -->
    <h3 class="title-2"><span>Feedback</span></h3>
    <div class="white-space-10"></div>
    <ul class="list-unstyled list-testimonial clearfix">
      <li>
        <img src="http://yobithemes.com/demo/html/itsme/works/assets/theme/img/people/7.jpg" alt="" class="img-thumbnail img-circle">
        <div class="text-testimonial">
          <h3>Thank you so much, Guys! 
            <small class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-empty"></i>
              <span>(4.5/5)</span>
            </small>
          </h3>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor. Phasellus viverra nulla ut metus varius laoreet.
          <h4>Margaret Lubt - <small>Founder  <a href="work-galery.html#"><i class="fa fa-globe"></i> www.website.com</a></small></h4>
        </div>
      </li>
    </ul>
    <hr/>
    <p><a href="work-galery.html#" class="btn btnc2 with-br"><span>Visit Site <i class="fa fa-globe"></i></span></a> </p>
  </div>
</div>