.portfolio-url-doc {
  color: #36C !important;
  font-size: 14px;
  font-weight: bold;
}
.document-desc {
  text-align: justify;
  margin: 2px 0 0 0;
  font-size: 12px;
}
.document-read {
  text-align: center;
  margin: 5px 0 30px 0;
}
.document-read > a {
  color: #ccc;
  font-size: 13px;
}
@media(max-width: 500px){
  .col-portfolio-doc{
    width: 100% !important; 
  }
}