html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: "Lato", Open Sans, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#all{
  min-height: 100%;
  position: relative;
  max-width: 1400px !important;
  margin: 0 auto;
}
/*create font link*/
@font-face {
  font-family: "Din";
  src:  url('../fonts/DIN-Light.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "ProximaNova";
  src:  url('../fonts/ProximaNova/ProximaNova-Light.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "ProximaNovaBold";
  src:  url('../fonts/ProximaNova/ProximaNova-Bold.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "NoteworthyBold";
  src:  url('../fonts/Noteworthy-Bold.otf');
  -webkit-font-smoothing: antialiased;
}
/*end create font link*/

/*section header css*/
.index-top-nav{
  margin-bottom: 50px;
}
.section-header {
  background-color: rgba(221,221,221,0.4);
  padding: 30px 15px 80px 15px;
  position: relative;
}
.logo-desktop {
  display: inline-block;
  text-decoration: none !important;
  outline: none !important;
}
.logo-desktop > img {
  max-width: 180px;
}
.logo-desktop > span {
  display: block;
  margin-left: 5px;
  color: #939598 !important;
  font-size: 15px;
  font-family: Din;
}
.login-nav {
  float: right;
  position: relative;
  top: 22px;
  color: #666666;
  font-weight: bold;
  font-size: 16px;
}
.login-nav > a {
  color: #666666;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.login-nav > a:hover,.login-nav > a:focus,.login-nav > a:active {
  color: #0397D6;
}
.header-text {
  font-weight: bold;
  font-size: 55px;
  color: #0397D6;
  font-family: ProximaNovaBold;
}
.header-text-note {
  color: #666666;
  font-weight: 600;
  font-size: 15px;
  font-family: ProximaNova;
}
.header-content {
  margin-top: 50px;
}
.header-started > a {
  background-color: #aaabad;
  color: #FFFFFF;
  padding: 8px 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
  outline: none !important;
  margin-right: 15px;
  font-family: ProximaNova;
  -webkit-transition: all 0.3s ease-out;      
  -moz-transition: all 0.3s ease-out;      
  -ms-transition: all 0.3s ease-out;      
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header-started > a:hover,.header-started > a:focus,.header-started > a:active {
  background-color: #0397D6;
}
.header-started {
  margin-top: 15px;
}
.header-started > span {
  color: #0397D6;
  font-weight: bold;
  font-size: 24px;
  font-family: NoteworthyBold;
  position: relative;
  top: 5px;
}
.header-tips {
  font-size: 13px;
  color: #666666;
  margin-top: 50px;
  font-family: ProximaNova;
}
.header-tips-list > a {
  display: block;
  font-size: 13px;
  margin: 5px 15px;
  font-style: italic;
  text-decoration: none !important;
  outline: none !important;
  color: #0296D5;
  font-family: ProximaNova;
}
.header-tips-list {
  display: inline-block;
}
.header-menu {
  background-color: rgba(255,255,255,0.4);
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 15px;
}
.hmenu-list {
  margin: 0;
  padding: 0;
}
.hmenu-list > li {
  display: block;
  float: left;
  padding: 12px 0;
  margin-right: 80px;
}
.hmenu-link {
  color: #666666;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.hmenu-link:hover,.hmenu-link:focus,.hmenu-link:active {
  color: #0397D6;
}
.bg-hand{
  background-image: url('../img/hand-1.png');
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  bottom: 0;
  height: 450px;
  width: 450px;
  background-size: contain;
  background-position: center;
}
@media(max-width: 991px){
  .bg-hand{
    right: 2% !important;
    height: 400px !important;
    width: 400px !important;
  }
}
@media(max-width: 767px){
  .bg-hand{
    right: 0 !important;
    bottom: 0;
    height: 350px !important;
    width: 100% !important;
    background-position-x: 55% !important;
    background-position-y: 100% !important;
  }
}
.bg-header {
  background-image: url('../img/image-1.png');
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  height: 423px;
  width: 100%;
  background-size: contain;
  background-position: center;
}
.screen-pos {
  position: absolute;
  top: 9.8%;
  left: 27%;
}
#slide-screen{
  margin: 0 !important;
  width: 142px !important;
  height: 254px !important;
}
.screen-img {
  height: auto !important;
}
.screen-img > img {
  width: 100%;
  height: 254px;
}
.header-menu-xs {
  background-color: rgba(255,255,255,0.95);
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hmenu-bar-xs {
  border-top: solid 1px #ddd;
  padding: 10px 20px;
}
.hmenu-started {
  display: block;
  float: right;
  background-color: #0397D6;
  color: #FFFFFF !important;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
  position: relative;
  top: -2px;
}
.hmenu-toggle {
  text-decoration: none !important;
  outline: none !important;
}
.hmenu-toggle > img {
  width: 28px;
  position: relative;
  top: 1px;
}
.hmenu-link-xs {
  color: #666666;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.hmenu-list-xs {
  margin: 0;
  padding: 15px 0 0 0;
  border-top: solid 1px #ddd;
  display: none;
}
.hmenu-list-xs > li {
  padding: 0 20px 15px 20px;
  display: block;
}
@media(max-width: 1200px){
  .screen-pos{
    left: 26% !important;
  }
}
@media(max-width: 991px){
  .screen-pos{
    left: 19% !important;
  }
}
@media(max-width: 767px){
  .section-header {
    padding: 15px 0 80px 0 !important;
  }
  .index-top-nav {
    margin-bottom: 30px !important;
    padding: 0 15px !important;
  }
  .login-nav > a > i {
    font-size: 20px;
  }
  .header-content {
    margin-top: 0 !important;
  }
  .header-text {
    font-size: 40px !important;
    text-align: center !important;
  }
  .header-text-note {
    font-size: 14px !important;
    text-align: center !important;
  }
  .header-started{
    text-align: center;
  }
  .header-started > a {
    margin: 0 !important;
  }
  .header-started > span {
    display: block !important;
    font-size: 20px;
    top: 0;
    margin: 5px 0 0 0;
  }
  .col-right-header {
    height: 270px;
    margin: 30px 0 0 0;
  }
  .bg-header {
    height: 350px !important;
    background-position: 85% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    width: 300px !important;
    position: inherit !important;
  }
  .screen-pos {
    left: 30% !important;
  }
  #slide-screen{
    width: 118px !important;
    height: 210px !important;
  }
  .hmenu-list{
    white-space: nowrap !important;
    overflow-x: auto !important;
    padding: 0 20px !important;
    text-align: center;
  }
  .hmenu-list > li {
    display: inline-block !important;
    float: none !important;
    margin: 0 30px !important;
  }
}
/*end section header css*/

/*section thumb nav*/
.thumb-link {
  display: inline-block;
  max-width: 150px;
  text-decoration: none !important;
  outline: none !important;
  margin: 0 50px;
}
.thumb-link:hover > .thumb-text,.thumb-link:focus > .thumb-text,.thumb-link:active > .thumb-text{
  color: #0397D6;
}
.thumb-list {
  text-align: center;
  padding: 50px 0;
}
.thumb-img {
  text-align: center;
  width: 120px;
  height: 120px;
  border: 2px solid #ececec;
  border-radius: 50%;
}
.thumb-img:hover {
  background-color: #ececec;
}
.thumb-img > img {
  width: 60px;
  position: relative;
  top: 30px;
}
.thumb-text {
  color: #666666;
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 15px;
  font-family: ProximaNovaBold;
  -webkit-transition: all 0.3s ease-out;      
  -moz-transition: all 0.3s ease-out;      
  -ms-transition: all 0.3s ease-out;      
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media(max-width: 992px){
  .thumb-link{
    margin: 0 30px !important;
  }
}
@media(max-width: 767px){
  .thumb-list {
    padding: 30px 0 !important;
  }
  .thumb-list {
    display: table !important;
  }
  .thumb-link{
    padding: 0 20px;
    width: 50% !important;
    max-width: none;
    margin: 0 0 30px 0;
    display: block;
    float: left;
    text-align: center;
  }
  .thumb-img > img {
    width: 00px !important;
    max-width: 100% !important;
  }
}
/*end section thumb nav*/

/*start section content*/
.section-content{
  border-top: solid 1px #ddd;
}
.fp-image > img {
  width: 450px;
  max-width: 100%;
}
.first-part {
  margin: 20px 0 0 0;
  background-image: url('../img/image-2.png');
  background-repeat: no-repeat;
  background-size: 36%;
}
.head-part {
  color: #0397D6;
  font-size: 30px;
  font-family: ProximaNovaBold;
  font-weight: bold;
}
.fp-desc {
  color: #666666;
  font-size: 14px;
  max-width: 500px;
  margin: 20px 0 0 0;
  font-family: ProximaNova;
  line-height: 25px;
}
.fp-content {
  padding: 30px 0 0 0;
  margin-left: 40%;
}
.fp-link {
  font-size: 14px;
  color: #0397D6;
  font-style: italic;
  display: inline-block;
  margin: 20px 0;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.second-part {
  background-image: url('../img/image-3.png');
  height: 500px;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.third-part {
  background-image: url('../img/image-4.png');
  height: 500px;
  background-size: cover;
  position: relative;
}
.fourth-part {
  background-image: url('../img/image-5.png');
  height: 500px;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.second-content {
  position: absolute;
  left: 10%;
  top: 15%;
  background-color: rgba(255,255,255,0.8);
  width: 450px;
  padding: 20px 30px;
}
.sp-desc {
  font-size: 14px;
  color: #666666;
  line-height: 25px;
  margin: 20px 0 0 0;
  font-family: ProximaNova;
}
.third-content {
  position: absolute;
  right: 10%;
  top: 15%;
  background-color: rgba(255,255,255,0.8);
  width: 450px;
  padding: 20px 30px;
}
.fourth-content {
  position: absolute;
  left: 10%;
  top: 15%;
  background-color: rgba(255,255,255,0.8);
  width: 450px;
  padding: 20px 30px;
}
.head-image{
  margin: 20px 0;
}
.head-image > img{
  width: 100%;
}
@media(max-width: 767px){
  .head-part{
    font-size: 20px !important;
    padding: 0 30px !important;
  }
  .first-part{
    background-image: none !important;
    border-bottom: solid 1px #ddd;
    background-color: #eeeeee;
    margin: 0 !important;
  }
  .fp-desc{
    padding: 0 30px !important;
  }
  .fp-content{
    margin: 0 !important;
    padding: 20px 0 !important;
  }
  .second-part{
    background-image: none !important;
    padding: 0 !important;
    height: auto !important;
    border-bottom: solid 1px #ddd;
  }
  .second-content{
    position: initial !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px 0 !important;
    background-color: transparent !important;
  }
  .sp-desc{
    margin: 15px 0 0 0 !important;
    font-size: 13px !important;
    line-height: 22px !important;
    padding: 0 30px;
  }
  .fp-link{
    padding: 0 30px;
  }
  .third-part{
    background-image: none !important;
    padding: 0 !important;
    height: auto !important;
    border-bottom: solid 1px #ddd;
    background-color: #eeeeee;
  }
  .third-content{
    position: initial !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px 0 !important;
    background-color: transparent !important;
  }
  .fourth-part{
    background-image: none !important;
    padding: 0 !important;
    height: auto !important;
    border-bottom: solid 1px #ddd;
  }
  .fourth-content{
    position: initial !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px 0 !important;
    background-color: transparent !important;
  }
}
/*end section content*/

/*start section footer*/
.section-footer {
  padding-top: 30px;
}
.footer-text {
  text-align: center;
  font-size: 20px;
  color: #666666;
  font-family: ProximaNova;
}
.footer-started {
  text-align: center;
  margin: 20px 0;
}
.footer-started > a {
  padding: 6px 20px;
  display: inline-block;
  background-color: #0397D6;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.footer-free {
  text-align: center;
  font-size: 20px;
  color: #666666;
  font-family: NoteworthyBold;
  margin: 0 0 30px 0;
}
.part-footer {
  background-color: #333333;
  padding: 30px 0;
}
.part-footer-home {
  background-color: #333333;
  padding: 30px 0;
}
.footer-nav-list > ul {
  margin: 0;
  padding: 0;
}
.footer-nav-list > ul > li {
  display: inline-block;
}
.footer-nav-list {
  text-align: center;
}
.footer-nav {
  color: #cccccc !important;
  font-size: 15px;
  margin: 0 20px;
  text-decoration: none !important;
  outline: none !Important;
}
.footer-menu-list > ul {
  margin: 0;
  padding: 0;
}
.footer-menu-list > ul > li {
  display: inline-block;
}
.footer-menu-list {
  text-align: center;
  margin: 30px 0 0 0;
}
.footer-menu {
  color: #666666 !important;
  font-size: 15px;
  margin: 0 20px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
.footer-menu-list > ul > li > span {
  color: #666666 !important;
  font-size: 15px;
  margin: 0 20px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
}
@media(max-width: 767px){
  .part-footer {
    padding: 20px 0 !important;
  }
  .part-footer-home {
    padding: 20px 0 70px 0 !important;
  }
  .footer-menu-list {
    text-align: center !important;
    margin: 0 !important;
  }
  .section-footer {
    padding: 30px 15px 0 15px !important;
  }
  .footer-text{
    font-size: 18px !important;
  }
  .footer-nav{
    font-size: 14px !important;
    margin: 0 15px !important;
  }
  .footer-nav {
    font-size: 14px !important;
    margin: 0 15px !important;
  }
  .footer-menu {
    font-size: 12px !important;
    margin: 0 10px !important;
  }
  .footer-menu-list > ul > li > span {
    font-size: 14px !important;
    margin: 0px 5px !important;
  }
}
/*end section footer*/

/*start login css*/
.login-body {
  position: relative;
  background-color: rgba(255,255,255,0.6);
  padding: 50px 0;
}
.logo-pos {
  text-align: center;
}
.logo-pos > a {
  outline: none !important;
}
.logo-pos > a > img {
  width: 200px;
}
.logo-pos > span {
  display: block;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Din;
  margin-top: 3px;
}
.login-content {
  padding: 30px 0 0 0;
  max-width: 450px;
  margin: 0 auto;
  background-color: #179ed7;
}
.social-warp {
  max-width: 250px;
  margin: 30px auto;
  text-align: center;
}
.social-warp > a {
  display: block;
  text-decoration: none !important;
  outline: none !important;
  margin: 15px 0;
  border-radius: 50px;
  padding: 6px;
  color: #FFFFFF !important;
  font-family: ProximaNova;
  font-size: 15px;
}
.login-facebook {
  background-color: #3b5998;
}
.login-google {
  background-color: #ca2020;
}
.login-linked {
  background-color: #007bb6;
}
.form-login {
  margin: 0 auto;
  max-width: 300px;
}
.input-log {
  margin-bottom: 15px;
  background-color: #56b3db !important;
  color: #FFFFFF !important;
  border: solid 2px #98d2eb !important;
  border-radius: 2px !important;
  height: 45px !important;
}
.input-log::-webkit-input-placeholder {
  color: #d1fbff;
}
.input-log:-moz-placeholder { 
  color: #d1fbff;
  opacity: 1;
}
.input-log::-moz-placeholder {
  color: #d1fbff;
  opacity: 1;
}
.input-log:-ms-input-placeholder {
  color: #d1fbff;
}
.input-log:placeholder-shown {
  color: #d1fbff;
}
.btn-log {
  font-family: ProximaNova;
  background-color: transparent;
  border: solid 2px #98d2eb;
  border-radius: 2px !important;
  color: #FFFFFF !important;
  font-weight: bold;
  padding: 6px 50px;
}
.btn-log:hover,.btn-log:focus,.btn-log:active{
  background-color: #56b3db !important;
}
.forgot-link {
  text-align: center;
  margin: 15px 0;
}
.forgot-link > a {
  color: #076a95;
  font-size: 14px;
}
.log-signup {
  background-color: #b6e0f2;
  padding: 10px 15px;
  text-align: center;
}
.log-signup-text {
  color: #666666;
  font-size: 14px;
  font-family: ProximaNova;
  font-weight: bold;
}
.log-signup-text > a {
  color: #666666;
  font-weight: bold;
  font-family: sans-serif;
  outline: none !important;
}
.space-or {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}
.space-text {
  color: #FFFFFF;
  font-weight: bold;
  font-family: ProximaNova;
  font-size: 15px;
  width: 10%;
  display: inline-block;
}
.space-border {
  width: 40%;
  border-top: solid 1px #FFFFFF;
  height: 5px;
  display: inline-block;
}
.log-back {
  color: #006497 !important;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 20px;
  outline: none !important;
}
/*end login css*/

/*start register css*/
.register-body {
  position: relative;
  background-color: rgba(255,255,255,0.6);
  padding: 50px 0;
}
.register-content {
  padding: 30px 0 0 0;
  max-width: 450px;
  margin: 0 auto;
  background-color: #07ac98;
}
.reg-signup {
  background-color: #b6e0f2;
  padding: 10px 15px;
  text-align: center;
}
.reg-signup-text {
  color: #666666;
  font-size: 14px;
  font-family: ProximaNova;
  font-weight: bold;
}
.reg-signup-text > a {
  color: #666666;
  font-weight: bold;
  font-family: sans-serif;
  outline: none !important;
}
.form-reg {
  margin: 0 auto;
  max-width: 300px;
  display: none;
}
.input-reg {
  margin-bottom: 15px;
  background-color: #2dceb8 !important;
  color: #FFFFFF !important;
  border: solid 2px #88dfd4 !important;
  border-radius: 2px !important;
  height: 45px !important;
}
.input-reg::-webkit-input-placeholder {
  color: #cef4e6;
}
.input-reg:-moz-placeholder { 
  color: #cef4e6;
  opacity: 1;
}
.input-reg::-moz-placeholder {
  color: #cef4e6;
  opacity: 1;
}
.input-reg:-ms-input-placeholder {
  color: #cef4e6;
}
.input-reg:placeholder-shown {
  color: #cef4e6;
}
.btn-reg {
  font-family: ProximaNova;
  background-color: transparent;
  border: solid 2px #88dfd4;
  border-radius: 2px !important;
  color: #FFFFFF !important;
  font-weight: bold;
  padding: 6px 50px;
}
.btn-reg:hover,.btn-reg:focus,.btn-reg:active{
  background-color: #2dceb8 !important;
}
.reg-head {
  color: #acf2ff;
  text-align: center;
  margin: 30px;
  font-size: 18px;
}
.reg-toggle {
  text-align: center;
}
.reg-toggle > a {
  color: #FFFFFF;
  font-size: 16px;
  font-family: ProximaNovabold;
  margin: 0 0 30px 0;
  display: inline-block;
}
/*end register css*/

/*start tips css*/
.header-civ {
  padding: 30px;
  background-color: rgba(221,221,221,0.4);
  position: relative;
}
.input-lang {
  width: 100px !important;
  border-radius: 0 !important;
  padding: 5px 3px !important;
  font-family: ProximaNova;
  color: #666666 !important;
  font-weight: bold !important;
  font-size: 14px !important;
  border: solid 1px #A5A5A5 !important;
  box-shadow: 0px 0px 1px 0px #A5A5A5 !important;
  background-color: transparent !important;
}
.select-sub {
  float: right;
  position: relative;
  top: 16px;
  margin-right: 20px;
}
.tab-menu {
  background-color: rgba(255,255,255,0.4);
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.content-head {
  color: #0397D6;
  font-family: ProximaNovaBold;
  font-size: 35px;
}
.tips-part {
  min-height: 300px;
  padding: 30px 0;
}
.content-desc {
  font-size: 15px;
  color: #666666;
  font-family: ProximaNova;
  margin: 5px 0 0 0;
}
.testi-notice {
  font-size: 15px;
  color: #666666;
  font-family: ProximaNova;
  text-align: center;
  margin: 50px 0 0 0;
}
.testi-notice > a {
  color: #0397D6;
  font-style: italic;
  font-weight: bold;
}
.testi-line {
  width: 500px;
  height: 2px;
  border-bottom: solid 1px #ddd;
  margin: 50px auto 0 auto;
  max-width: 100%;
}
.tips-cat > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.tips-warp {
  margin: 30px 0 0 0;
}
.tips-cat > span {
  color: #666666;
  font-family: ProximaNova;
  font-size: 13px;
  font-style: italic;
}
.tips-cat {
  color: #666666;
  font-family: ProximaNova;
  font-size: 14px;
  font-style: italic;
}
.tips-cat > a {
  color: #0397D6;
  font-family: ProximaNovaBold;
}
.tips-image {
  display: block;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: none !important;
  margin: 10px 0 0 0;
}
.tips-container {
  padding: 0 15px;
}
.tips-content {
  padding-bottom: 30px;
  border-bottom: solid 1px #ddd;
}
.tips-title {
  color: #666666;
  font-family: ProximaNovaBold;
  font-size: 25px;
  margin: 15px 0 0 0;
}
.tips-title > a {
  color: #444;
  text-decoration: none !important;
  outline: none !important;
}
.tips-title > a:hover,.tips-title > a:focus,.tips-title > a:active{
  color: #0397D6 !important;
}
.tips-author {
  margin: 10px 0 0 0;
  color: #666666;
  font-size: 14px;
  font-family: ProximaNova;
  font-style: italic;
}
.tips-author > a {
  font-family: ProximaNovabold;
  color: #0397D6;
  font-size: 13px;
}
.tips-desc {
  margin: 15px 0 20px 0;
  font-size: 14px;
  color: #666666;
  line-height: 180%;
}
.tips-desc img {
  max-width: 100%;
}
.tips-desc iframe {
  max-width: 100%;
}
.tips-read {
  font-family: ProximaNovaBold;
  text-decoration: none !important;
  outline: none !important;
  display: inline-block;
  padding: 6px 30px;
  border: solid 1px #ddd;
  color: #0397D6;
  border-radius: 3px;
}
.border0{
  border: 0 !important;
}
@media(max-width: 991px){
  .tips-image {
    height: 350px !important;
  }
}
@media(max-width: 900px){
  .container-max{
    max-width: 100% !important;
    width: 100%;
  }
}
@media(max-width: 767px){
  .tips-image {
    height: 300px !important;
  }
  .tips-title{
    font-size: 20px !important;
  }
  .tips-container{
    padding: 0 !important;
  }
}
@media(max-width: 767px){
  .header-civ {
    padding: 0 !important;
  }
  .input-lang {
    width: 60px !important;
    border-radius: 4px !important;
    padding: 5px 3px !important;
    font-size: 16px !important;
  }
  .select-sub {
    top: 0;
  }
  .login-nav {
    top: 15px;
    margin-left: 20px;
  }
}
.logo-mobile {
  display: inline-block;
  text-decoration: none !important;
  outline: none !important;
  padding: 15px;
}
.logo-mobile > img {
  max-width: 180px;
}
.logo-mobile > span {
  display: block;
  margin-left: 5px;
  color: #939598 !important;
  font-size: 15px;
  font-family: Din;
}
.mobile-bar {
  position: relative;
  background-color: rgba(255,255,255,0.6);
  margin: 0;
  padding: 15px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
}
.mobile-list {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 5;
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border-bottom: solid 1px #ddd;
}
.mobile-list > li {
  display: block;
  padding: 0;
  margin: 0;
}
.mobile-link {
  color: #666666;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
  display: inline-flex;
  padding: 5px 0;
}
.mobile-link:hover,.mobile-link:active,.mobile-link:focus{
  color: #0397D6 !important;
}
.mobile-toggle > img {
  height: 28px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #0397D6;
  border-color: #0397D6;
}
.testimoni-part{
  min-height: 300px;
  padding: 30px 0;
}
.terimoni-warp {
  margin: 30px 0 0 0;
  display: table;
  width: 100%;
}
.testimoni-left {
  display: table-cell;
  height: 200px;
  width: 40%;
}
.testimoni-right {
  display: table-cell;
  width: 60%;
  vertical-align: top;
  padding: 0 30px;
  position: relative;
}
.testicounter-warp {
  margin: 30px 0 0 0;
  display: table;
  width: 100%;
}
.testicounter-right {
  display: table-cell;
  height: 200px;
  width: 40%;
}
.testicounter-left {
  display: table-cell;
  width: 60%;
  vertical-align: top;
  padding: 0 30px 0 0;
  position: relative;
}
.testimoni-image {
  width: 100%;
  height: 100%;
}
.testimoni-text {
  font-size: 20px;
  color: #666666;
  font-family: ProximaNova;
}
.testimoni-user {
  text-align: right;
  font-size: 16px;
  color: #666666;
  font-family: ProximaNova;
  margin: 10px 0 0 0;
}
.testimoni-cv {
  font-family: ProximaNova;
  position: absolute;
  bottom: 10px;
  font-style: italic;
  font-weight: bold;
  color: #0397D6 !important;
}
@media(max-width: 550px){
  .col-testimoni {
    padding: 0 !important;
  }
  .testimoni-left {
    display: block !important;
    width: 100% !important;
    height: 300px !important;
  }
  .testimoni-right {
    display: block !important;
    width: 100% !important;
    padding: 10px 15px !important;
  }
  .testimoni-cv {
    position: initial !important;
    margin: 15px 0 0 0 !important;
    display: inline-block !important;
  }
}
@media(max-width: 450px){
  .testimoni-left {
    height: 250px !important;
  }
}
.mtesti-dialog {
  padding: 0 15px;
  width: 400px;
  margin: 30px auto !important;
}
.mtesti-content {
  border-radius: 0;
}
.mtesti-desc {
  font-size: 18px;
  color: #666666;
  font-family: ProximaNova;
  margin: 15px 0;
}
.mtesti-body {
  padding: 20px;
}
.mtesti-colse {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  color: #969696;
  opacity: 1;
}
.mtesti-title {
  color: #0397D6 !important;
  font-size: 18px;
  font-family: ProximaNovaBold;
  margin-bottom: 5px;
}
.mtesti-textrea {
  border-radius: 0;
}
.btn-mtesti {
  background-color: #0397D6 !important;
  margin: 15px 0;
  border-radius: 0;
  color: #FFFFFF !important;
  font-family: ProximaNovaBold;
  font-size: 14px;
  padding: 6px 30px;
}
.btn-mtesti:hover,.btn-mtesti:focus,.btn-mtesti:active{
  background-color: #0581B5 !important;
  color: #FFFFFF !important;
}
.cat-title {
  font-family: ProximaNovabold !important;
  color: #0397D6 !important;
}
.height-auto{
  height: auto !important;
}
.swiper-left {
  position: absolute;
  left: 10px;
  top: 50%;
  padding: 3px;
  z-index: 2;
}
.swiper-right {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 3px;
  z-index: 2;
}
.swiper-arrow-news {
  width: 35px;
}
@media (min-width: 768px){
  .swiper-image-news{
    width: 100%; 
  }
}
@media (max-width: 768px){
  .swiper-image-news{
    width: 100%; 
    max-height: 320px !important;
  }
}
@media(max-width: 500px){
  .swiper-image-news{
    width: 100%; 
    max-height: 180px  !important;
  }
}
.share-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: cover !important;
  text-decoration: none;
  margin-left: 5px;
}
@media(max-width: 500px){
  .share-icon {
    height: 25px !important;
    width: 25px !important;
  }
}
.s-facebook{
  background: url('../img/s-facebook.png') no-repeat center;
}
.s-facebook:hover,.s-facebook:focus{
  background: url('../img/s-facebook2.png') no-repeat center;
}
.s-twitter{
  background: url('../img/s-twitter.png') no-repeat center;
}
.s-twitter:hover,.s-twitter:focus{
  background: url('../img/s-twitter2.png') no-repeat center;
}
.s-google{
  background: url('../img/s-google.png') no-repeat center;
}
.s-google:hover,.s-google:focus{
  background: url('../img/s-google2.png') no-repeat center;
}
.tips-share {
  float: right;
}
.share-btn {
  background-color: #02A0E4;
  display: block;
  padding: 5px 22px;
  color: #fff;
  font-weight: bold;
}
.rt-head{
  color: #0397D6;
  font-family: ProximaNovaBold;
  font-size: 20px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 5px;
}
.rt-image {
  height: 150px;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;      
  -moz-transition: all 0.3s ease-out;      
  -ms-transition: all 0.3s ease-out;      
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rt-wrap {
  margin: 25px 0 0 0;
}
.rt-title {
  color: #3E3E3E;
  font-family: ProximaNovaBold;
  font-size: 14px;
  margin: 5px 0 0 0;
  -webkit-transition: all 0.3s ease-out;      
  -moz-transition: all 0.3s ease-out;      
  -ms-transition: all 0.3s ease-out;      
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rt-link {
  text-decoration: none !important;
}
.rt-link:hover > .rt-title,.rt-link:focus > .rt-title,.rt-link:active > .rt-title {
  color: #0397D6;
  text-decoration:none;
}
.rt-link:hover > .rt-image,.rt-link:focus > .rt-image,.rt-link:active > .rt-image {
  opacity: 0.8;
}
@media(max-width: 767px){
  .rt-head{
    margin: 50px 0 0 0;
  }
  .rt-image {
    height: 250px !important;
  }
}
@media(max-width: 400px){
  .rt-image {
    height: 200px !important;
  }
}
.input-error{
  border-color: #a94442 !important;
}
.is-error{
  font-size: 13px;
  display: none;
  margin: 5px 0;
  color: #E4E1E0;
}
.input-success{
  border-color: #FFFFFF !important;
}
.is-success{
  font-size: 13px;
  display: none;
  margin: 5px 0;
  color: #FFFFFF;
}
.input-load {
  background: url('../img/load-input.gif');
  background-position: 97%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.nav-user > .glyphicon-chevron-down {
  font-size: 14px;
  position: relative;
  top: 3px;
  margin-left: 3px;
}
.dropdown-usernav {
  padding: 0;
}
.caret-user {
  position: absolute;
  left: 45%;
  border-bottom: 12px dashed;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  top: -12px;
  margin-left: 2px;
  vertical-align: middle;
  color: #03A1E4;
}
.caret-hover{
  color: #03A1E4 !important;
}
#dropdown-user {
  top: 190% !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #f4f4f4;
  left: -50px !important;
}
.dropdown-usernav > li > a {
  padding: 6px 20px;
  color: #808080;
  border-bottom: solid 1px #ddd;
  font-size: 14px;
}
.dropdown-usernav > li > a:hover,.dropdown-usernav > li > a:focus,.dropdown-usernav > li > a:active {
  color: #04A1E4;
  text-decoration: none;
  background-color: #CBF0FF;
}
.dropdown-head > span {
  padding: 6px 20px;
  color: #FFFFFF;
  background-color: #03A1E4;
  border-bottom: solid 1px #ddd;
  font-size: 14px;
  display: block;
  font-weight: bold;
}
.dropdown-bottom > a {
  background-color: #03A1E4;
  color: #FFFFFF !important;
  font-weight: bold !important;
  font-size: 14px !important;
}
.nav-user > .glyphicon-user {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.user-link-xs {
  color: #666666;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none !important;
  outline: none !important;
  font-family: ProximaNova;
  float: right;
  margin-top: 3px;
}

.user-link-xs > i {
  font-size: 16px;
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.mob-nav-user:hover, .mob-nav-user:focus, .mob-nav-user:active {
  color: #0397D6 !important;
}
.testimoni-alert {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
}
.testimoni-card {
  margin: 50px 0 0 0;
  background-color: #FFFFFF;
  padding: 30px;
  display: inline-block;
  font-size: 16px;
  font-family: cursive;
  border-radius: 5px;
  border: solid 4px #0398D7;
}
.sregister-part {
  padding: 50px 0;
  min-height: 400px;
}
.sregister-content {
  text-align: center;
}
.thumbs-image > img {
  max-width: 100%;
  width: 80px;
}
.thumbs-image {
  margin: 20px;
}
.sregister-head{
  color: #0397D6;
  font-family: ProximaNovaBold;
  font-size: 35px;
  text-align: center;
}
.sregister-notconnect{
  color: #808080;
  font-family: ProximaNovaBold;
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
}
.sregister-note {
  font-family: ProximaNova;
  font-size: 16px;
}
@media(max-width: 767px){
  .sregister-head{
    font-size: 25px;
  }
  .sregister-notconnect{
    font-family: ProximaNovaBold;
    font-size: 20px;
  }
}
.register-alert {
  position: fixed;
  top: 20%;
  left: 0;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  display: none;
}
.register-card {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.73);
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  font-family: ProximaNovaBold;
}
.register-card > i {
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 20px;
  color: #FFFFFF;
  border: solid 2px #BC2E29;
  border-radius: 100%;
  background-color: #BC2E29;
}
.hmenu-link > img {
    width: 20px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.hmenu-active {
    color: #0397D6 !important;
}