html{
  height: 100%;
}
body{
  height: 100%;
  font-family: "Droid Sans", Open sans, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#all{
  height: 100%;
  position: relative;
}
.container-header-cvm {
  max-width: 700px;
}
.top-content {
  /*min-height: 100%;*/
  background-image: url('../img/header.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 0;
}
.top-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}
/*start top nav css*/
.nav-logo {
  display: inline-block;
  text-decoration: none;
}
.nav-logo > img {
  width: 180px;
}
.desktop-nav {
  float: right;
  display: inline-block;
  margin: 13px 0 0 0;
}
.desktop-nav > ul {
  margin: 0;
  padding: 0;
}
.nav-link {
  display: inline-block;
  color: #03A1E4;    
  font-size: 14px;    
  font-weight: 600;
  margin: 0 10px;
}
.nav-link > a {
  color: #03A1E4;
  font-size: 14px;
  font-weight: 600;
}
.nav-link > a:hover,.nav-link > a:focus,.nav-link > a:active {
  color: #606060;
  text-decoration: none;
}
.nav-link-job > a {
  color: #03A1E4;    
  font-size: 14px;    
  font-weight: 600;
  border: solid 2px #03A1E4;
  padding: 6px 10px;
  border-radius: 4px;
}
.nav-link-job > a:hover,.nav-link-job > a:focus,.nav-link-job > a:active {
  color: #606060;
  border: solid 2px #606060;
  text-decoration: none;
}
.nav-link-job {
  display: inline-block;
  margin: 0 10px;
}
#index-top-nav {
  padding: 15px;
}
#nav-logo-mobile > img {
  width: 50px;
  margin: 6px 12px;
}
#mobile-top-nav {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
}
/*end top nav css*/
.index-top-header {
  font-size: 40px;
  text-align: center;
  color: #606060;
  font-weight: bold;
  margin: 10% 0 0 0;
}
.index-top-header-child {
  text-align: center;
  font-size: 14px;
  color: #000000;
  padding: 0 50px;
}
@media(max-width: 768px){
  .index-top-header{
    margin: 70px 0 0 0 !important;
    font-size: 25px !important;
  }
}
@media(max-width: 500px){
  .index-top-header-child {
    padding: 0 20px !important;]
    font-size: 12px !important;
  }
}
.container-comment {
  max-width: 830px;
  position: relative;
  height: 350px;
  overflow-y: auto;
}
.comment-avatar {
  border-radius: 50%;
  width: 50px;
}
.comment-profile {
  display: table-cell;
  position: relative;
  padding: 0 15px;
}
.comment-profile > a {
  color: #333;
}
.comment-profile > a:hover,.comment-profile > a:focus,.comment-profile > a:active {
  color: #03A1E4;
  text-decoration: none;
}
.comment-name {
  text-align: center;
  margin: 3px 0 0 0;
  font-size: 14px;
  font-weight: 600;
}
.comment-message {
  padding: 10px 15px;
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  display: table-cell;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.comment-text {
  color: #FFFFFF;
  font-size: 12px;
}
.comment-see {
  text-align: right;
  margin: 5px 0 0 0;
}
.comment-see > a {
  font-size: 12px;
  color: #FFFFFF;
}
.comment-see > a:hover, .comment-see > a:focus,.comment-see > a:active{
  font-size: 12px;
  color: #03A1E4;
  text-decoration: none;
}
.angle {
  width: 0;    
  height: 0;    
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;    
  border-right: 10px solid rgb(121, 121, 122);    
  border-top: 6px solid transparent;    
  position: absolute;        
  margin-left: -3px;    
  top: 25%;
  right: 0;
}
.index-content-comment {
  float: left;
  position: absolute;

}
.index-content-comment-right {
  float: right;
  position: absolute;
  right: 0;
}
.angle-right {
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-left: 10px solid rgb(91, 81, 81);
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  position: absolute;
  margin-right: -3px;
  top: 25%;
  left: 0;
}
@media(max-width: 768px){
  .container-comment{
    text-align: center;
  }
  .index-content-comment {
    float: none !important;
    position: initial !important;
    display: inline-block !important;
    margin: 5px 0 0 0;
  }
  .index-content-comment-right {
    float: none !important;
    position: initial !important;
    display: inline-block !important;
    margin: 5px 0 0 0;
  }
}
#popular-profile-content {
  border-top: 1px solid #ccc;
  padding: 30px 0;
  background-image: url('../img/patterns/geometry.png');
}
.popular-profile-header {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.popular-profile-header-child {
  text-align: center;
  font-size: 13px;
  color: #000000;
  font-style: italic;
  margin: 0 0 20px 0;
}
.popular-profile-box {
  display: block;
}
.popular-profile-box:hover,.popular-profile-box:focus,.popular-profile-box:active{
  text-decoration: none;
} 
.popular-profile-box:hover > .popular-profile-name,.popular-profile-box:focus > .popular-profile-name,.popular-profile-box:active > .popular-profile-name{
  color: #03A1E4;
  text-decoration: none;
} 
.popular-profile-img {
  text-align: center;
}
.popular-profile-img > img {
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.popular-profile-name {
  text-align: center;
  color: #000000;
  font-size: 14px;
  margin: 3px 0 0 0;
}
.popular-profile-job {
  text-align: center;
  color: #000000;
  font-size: 12px;
  font-style: italic;
}
#index-signup-content {
  background: url(../img/bg2-small.jpg);
  padding: 30px 0;
  background-attachment: fixed; 
  border-top: 1px solid #ccc;
}
.index-signup-header {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}
@media(max-width: 500px){
  .index-signup-header{
    font-size: 18px !important;
  }
}
.btn-signup{
  color: #FFFFFF !important;
  background-color: #0331E5 !important;
  border-color: #0331E5 !important;
  padding: 6px 50px !important;
}
.popular-job-header {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.popular-job-header-child {
  text-align: center;
  font-size: 13px;
  color: #000000;
  font-style: italic;
  margin: 0 0 20px 0;
}
.col-popular-job{
  width: 20% !important;
}
#popular-job-content{
  padding: 30px 0;
}
.popular-job-box {
  background-size: cover;
  height: 180px;
  position: relative;
}
.popular-job-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
}
.popular-job-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #606060;
}
.popular-job-link {
  display: block;
  text-align: center;
  bottom: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  font-weight: 500;
  color: #0331E5;
  text-decoration: underline;
}
.popular-job-all-link {
  display: block;
  text-align: center;
  font-weight: 500;
  color: #0331E5;
  text-decoration: underline;
}
@media(max-width: 1200px){
  .popular-job-title{
    font-size: 18px !important;
  }
  .popular-job-text{
    padding: 20px 10px !important;
  }
  .col-popular-job{
    padding: 0 10px !important
  }
  .popular-job-box{
    height: 160px !important;
  }
}
@media(max-width: 992px){
.container-job{
  width: auto !important
}
}
@media(max-width: 900px){
.popular-job-title{
    font-size: 16px !important;
  }
}
@media(max-width: 768px){
  .popular-job-title{
    font-size: 20px !important;
  }
  .col-popular-job{
    width: 100% !important;
  }
  .popular-job-box{
    height: 180px !important;
  }
}
@media(max-width: 500px){
  .popular-job-title{
    font-size: 18px !important;
  }
  .popular-job-box{
    height: 160px !important;
  }
}

.btn-signup1 {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn-signup1:hover {
 border: 2px solid #666;
  background: none;
  color: #666; 
}

.form-textbox {
  border-radius: 2px;
  border: 1px solid #fff;
}